[Unit]
Description=Deployment Service
After=network-online.target

[Service]
Type=simple
ExecStart=python3 ~/Projects/
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target