[Unit]
Description=Deployment Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/sdlfly2000/Projects/Deployment/DeployServer.py
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target